*{font-family: "Segoe UI", Tahoma, Verdana, Serif, sans-serif;
box-sizing: border-box;}


body{margin:0; padding:0; width: 100%;
background-image:url("/images/i-made-blåhaj-wallpapers-for-you-all-v0-046iynyjqi6b1.png");
    background-repeat: no-repeat;
    background-size: cover;
background-attachment: fixed;}

header{display:flex;flex-direction:column;
background: #bdbdf8;
    margin-left: 5rem;
    margin-right: 5rem;}

header p{margin-top:0;
    margin-bottom:1rem;}

.introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.intro-text{
    border: 5px solid #3535b8;
    background-color: white;
    height: 50%;
    border-radius: 1rem;
    padding: 0 0.5rem 1rem;
}


.profielfoto{
display: flex;}

.profielfoto img{width: 200px;
    height: auto;
margin-top: 0.2rem;
border: 0.5rem solid #3535b8;
border-radius: 1rem;}

.profielfoto img:hover{ box-shadow: grey 0.2rem 0.2rem}

main{
    width: auto;
background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-right: 5rem;
    border: 5px solid #3535b8;
}

@media screen and (min-width: 576px) {
    table, tbody, tr, tbody td {
        border: 1px solid black;
        border-collapse: collapse;
        width: 300px;
        text-align: center;
        vertical-align: middle;
    }

    tr:nth-child(even) {
        color: #9a9aed;
        background-color: #3535b8;
        font-style: italic;
        font-weight: bold;
    }

    tr:nth-child(odd) {
        color: #3535b8;
        background-color: #9a9aed;
        font-weight: bold;
    }
}
.footerpart{ background-color: #bdbdf8;
    width: auto;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
flex-direction: row;
justify-content: space-around;}

.footerpart article{margin: auto;}

.footerpart a, a:hover, a:visited{ text-decoration: none; color: black}

@media screen and (max-width: 992px) {
header, main, .footerpart {margin-left: 2rem; margin-right: 2rem;}
    .intro-text{border: 1px solid #3535b8;
    border-radius: 0;
    }
    .profielfoto img{border:none;
    border-radius: 0;
    width: 10rem;}
    .profielfoto img:hover{ box-shadow: none;}
}
@media screen and (max-width: 576px)
{
    header, .footerpart {margin-left: 0; margin-right: 0}
    .talenkennis{display: flex;
    flex-direction: column;}
}
